{% load i18n %}
{% load static %}
{% load allauth account %}
{% load allauth socialaccount %}

<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'login/base.css' %}">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}

        <!-- bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <!-- bootstrap javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <nav class="navbar navbar-expand-lg bg-dark py-3">
            <div class="container">
              <a class="navbar-brand fs-2">
                <h2 class="text-white pt-2">Webタスク管理くん</h2>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login:top'%}">使い方</a>
                  </li>
                  <li class="nav- ma-2">
                    <a class="nav-link text-white" href="https://github.com/mi8150jo" target="blank">
                        <img class="github-icon mb-1" src="{% static 'svg/github.svg' %}" alt="GithubIcon">
                        Github
                    </a>
                  </li>
        
        <!-- Allauthでプロバイダのリンクを取得 -->
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            <!-- {% element provider_list %} -->
                    {% for provider in socialaccount_providers %}
                    {% if provider.id == "openid" %}
                        {% for brand in provider.get_brands %}
                            {% provider_login_url provider openid=brand.openid_url process=process as href %}
                            <!-- {% element provider name=brand.name provider_id=provider.id href=href %}
                            {% endelement %} -->
                        {% endfor %}
                    {% else %}
                        {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                        <li>
                            <a href="{{ href }}" class="btn btn-outline-success bg-white ms-2" role="button" area-disabled="True">LINEでログイン</a>
                        </li>     
                        <!-- {% element provider name=provider.name provider_id=provider.id href=href %}
                        {% endelement %} -->
                    {% endif %}
                {% endfor %}
            <!-- {% endelement %} -->
        {% endif %}
                  <!-- <li>
                    <a href="{{ href }}" class="btn btn-outline-success bg-white ms-2" role="button" area-disabled="True">LINEでログイン</a>
                  </li> -->
                  <!-- <li>
                    <a href="ログアウト" class="btn btn-outline-secondary" role="button" area-disabled="True">ログアウト</a>
                  </li> -->
                </ul>
              </div>
            </div>
        </nav>

    {% block body %} 
            <!-- {% if messages %}
                <div>
                    <strong>{% trans "Messages:" %}</strong>
                    <ul>
                        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div>
                <strong>{% trans "Menu:" %}</strong>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_email' %}">{% trans "Change Email" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div> -->
            {% block content %}
            {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    </body>
</html>