{% extends "allauth/layouts/base.html" %}
{% load allauth account %}
{% load static %}

{% block body %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">使い方</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 tet-body-emphasis">公式LINEの追加</h3>
            <img class="img-fluid mt-5" src="{% static 'readme/QRcode.png' %}" alt="QRcode">
            <p class="mt-5">このQRコードから公式LINEを追加してください</p>
        </div>
        <div class="feature col">
            <h3 class="fs-2 tet-body-emphasis">タスクを登録する</h3>
            <img class="img-fluid" src="{% static 'readme/linescreen.png' %}" alt="linescreen">
            <p class="mt-3">「タスク」とメッセージを送るとタスクを追加できるようになります<br>「キャンセル」と入力するとタスクの追加をいつでもキャンセルできます</p>
            
        </div>
        <div class="feature col">
            <h3 class="fs-2 tet-body-emphasis">追加したタスクを管理</h3>
            <img src="{% static 'readme/webscreen.png' %}" width="100%" alt="webscreen">
            <p class="mt-3">このページの右上「LINEでログイン」から管理画面へアクセスできます</p>
        </div>
        
    </div>
</div> 

{% endblock body %}