{% extends "allauth/layouts/base.html" %}
{% load i18n %}
{% load allauth %}


{% block content %}
    {% if process == "connect" %}

        <div class="card w-50 mt-5 mx-auto">
        <div class="card-body">
            <h5 class="card-title fs-3">{% blocktrans with provider.name as provider %}{{ provider }}でログインする{% endblocktrans %}</h5>
            <p class="card-text fs-6">{% blocktrans with provider.name as provider %}{{ provider }}のサードパーティアカウントを利用してログインしようとしています.{% endblocktrans %}</p>
            
            {% element form method="post" no_visible_fields=True %}
            {% slot actions %}
                {% csrf_token %}
                <input class="btn btn-outline-success" type="submit" value="続ける">
            {% endslot %}
            {% endelement %}
        </div>
        </div>
        
    {% else %}

        <div class="card w-50 mt-5 mx-auto">
        <div class="card-body">
            <h5 class="card-title fs-3">{% blocktrans with provider.name as provider %}{{ provider }}でログインする{% endblocktrans %}</h5>
            <p class="card-text fs-6">{% blocktrans with provider.name as provider %}{{ provider }}のサードパーティアカウントを利用してログインしようとしています{% endblocktrans %}</p>
            
            {% element form method="post" no_visible_fields=True %}
            {% slot actions %}
                {% csrf_token %}
                <input class="btn btn-outline-success" type="submit" value="続ける">
            {% endslot %}
            {% endelement %}
        </div>
        </div>

    {% endif %}
{% endblock content %}
