{% extends "layouts/base.html" %}

{% load account %}
{% load allauth account %}

{% block body %}
    {% if social_accounts %}

        {% for account in social_accounts %}
            <h1>ようこそ，{{ account.extra_data.displayName }}さん</h1>
        {% endfor %}

        <a href="{% url 'webapp:new' %}">新規登録</a>

       
        <table class="table">
            <thead>
              <tr>
                <th scope="col">日付</th>
                <th scope="col">タスク内容</th>
                <th scope="col">開始時刻</th>
                <th scope="col">終了時刻</th>
                <th scope="col">編集</th>
                <th scope="col">削除</th>
              </tr>
            </thead>

            {% for task in tasks %}
            <tbody>
              <tr>
                <td>{{ task.date }}</td>
                <td>{{ task.content }}</td>
                <td>{{ task.startTime }}</td>
                <td>{{ task.endTime }}</td>
                <td><a href="{% url 'webapp:edit' pk=task.pk %}">編集</a></td>
                <td> <a href="{% url 'webapp:delete' pk=task.pk %}">削除</a></td>
              </tr>
            </tbody>
            {% endfor %}

        </table>
        
                            
            
    {% else %}



    {% endif %}
{% endblock body %}