{% extends "layouts/base.html" %}

{% load static %}
{% load account %}
{% load allauth account %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'webapp/home.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var rows = document.querySelectorAll('tr[data-href]');
            rows.forEach(function(row) {
                row.addEventListener('click', function() {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
{% endblock extra_head %}

{% block body %}
    {% if social_accounts %}

        <div class="container text-center">
            <div class="row align-items-start">
            <div class="col-auto me-auto mt-4 mb-4">
                {% for account in social_accounts %}
                    <h1 class="fs-2">過去のタスク</h1>
                {% endfor %}
            </div>
            <div class="col-auto mt-4">
                <a class="btn btn-outline-success" href="{% url 'webapp:new' %}" role="button">タスクを追加</a>
            </div>
            </div>
        </div>
        
        <table class="table table-hover">
            <thead>
              <tr class="table-secondary">
                <th scope="col">日付</th>
                <th scope="col">タスク内容</th>
                <th scope="col">開始時刻</th>
                <th scope="col">終了時刻</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>

            {% for task in tasks %}
            <tbody>
              <tr data-href="{% url 'webapp:task_detail' pk=task.pk %}">
                <td>{{ task.date }}</td>
                <td>{{ task.content|truncatechars:10 }}</td>
                <td>{{ task.startTime }}</td>
                <td>{{ task.endTime }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{% url 'webapp:edit' pk=task.pk %}" role="button">
                        <img src="{% static 'svg/pencil-square.svg' %}" alt="EditIcon">
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" href="{% url 'webapp:delete' pk=task.pk %}" role="button">
                        <img src="{% static 'svg/trash3.svg' %}" alt="TrashIcon">
                    </a>
                </td>
              </tr>
            </tbody>
            {% endfor %}

        </table>        

    {% else %}

    {% endif %}
{% endblock body %}