{% extends "layouts/base.html" %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="card-title fs-3 mt-2 d-flex justify-content-center">タスク詳細</h1>
                </div>
                <div class="card-body">
                    <p>{{ task.date }}</p>
                    <p>{{ task.content }}</p>
                    <p>開始時刻: {{ task.startTime }}</p>
                    <p>終了時刻: {{ task.endTime }}</p>
                </div>
                <div class="card-footer d-flex">
                    <a href="{% url 'webapp:home' %}" class="btn btn-secondary">戻る</a>
                </div>
                
                    
            </div>
        </div>
    </div>
</div>
{% endblock body %}